.App {
  text-align: center;
  background-image: url('./images/bg.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* src/App.css */

.page-background {
  background-image: url('./images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* Optional overlay */
  position: relative;
  z-index: 0;
}

.page-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 250, 252, 0.85); /* pastel light overlay */
  z-index: -1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
